 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New</title>
</head>
<body>
  <h1>New Tiger Page!</h1>
  <!-- Submitted form will POST to / route -->
  <form action="/tigers" method='post'>
    Name: <input type="text" name="name">
    Weight: <input type="text" name="weight">
    Color: <input type="text" name="color">
    <input type="submit" value="Add new tiger!">
  </form>
</body>
</html>