<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
  <h1>Show!</h1>
  <h3>Name: <%= tiger.name %></h3>
  <h3>Weight: <%= tiger.weight %></h3>
  <h4>Color: <%= tiger.color %></h4>
  <a href="/">Home</a>
  <a href="/tigers/<%= tiger._id %>/edit">Edit</a>
</body>
</html>