<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h2>My projects</h2>
    <ul>
        <li>project</li>
        <li>good project</li>
        <li>better projects</li>
        <li>even better project</li>
        <li>amazing project</li>
        <li>crazy project</li>
        <li>best project</li>
    </ul>
    </body>
</html>