<div id="myController">
    <h2>Players</h2>
    <div id="players">
        <form ng-submit="addPlayer()">
            Name:<input type="text" ng-model='player.name' minlength="4" required><br>
            <input type="submit" name="" value="Add Player">
        </form>

    </div>

    <table>
        <tr>
            <th>name</th>
            <th>actions</th>
        </tr>
        <tr ng-repeat='player in players'>
            <td>{{player.name}}</td>
            <td><button ng-click='deletePlayer(player)'>remove Player</button></td>
        </tr>
    </table>
</div>