<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h2>My ninjas</h2>
    <ul>
        <li>ninjas</li>
        <li>good ninjas</li>
        <li>better ninjas</li>
        <li>even better ninjas</li>
        <li>amazing ninjas</li>
        <li>crazy ninjas</li>
        <li>best ninjas</li>
    </ul>
    </body>
</html>