/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 20px;
 display: inline-block;
}
#header{
 height: 150px;
 background-color: green;
 margin-bottom: 20px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 float: left;
}
#main_content{
 height: 420px;
 width: 700px;
 background-color: red;
 float: right;
 display: inline-block;
 padding-right: 20px;

}
.subcontents{
 height: 200px;
 width: 210px;
 display: inline-block;
 background-color: yellow;
 margin-top: 20px;
 margin-left: 15px;
 margin-bottom: 10px;
 
 
}
#advertisement{
 height: 110px;
 width: 670px;
 background-color: purple;
 margin: 15px 15px 15px 15px; 
}