<html>

<head>
    <title>Quoting Dojo Redux</title>
</head>
<style>
    * {
        font-family: sans-serif;
        background: lightgray
    }
</style>

<body>
    <h1>Welcome to Quoting Dojo Redux</h1>
    <!-- read on to learn about form actions, we'll talk about the method in a later section -->
    <form action='/quotes' method='post'>
        Your Name: <input type='text' name='name'><br> 
        Your Quote: <textarea name='quote' rows="" cols=""></textarea><br>
        <input type='submit' value='submit'><br>
    </form>
    <a href="/show_quotes">Go to quotes</a>
</body>

</html>